<h1>Recipes</h1>
<%# <form action="/recipes" method="get">
<input type="submit" value="View Recipes">
</form>

<form action="/recipes/add" method="post">
<input type="text" name= title size=30 placeholder= "title">
  <input type="text" name= url size=30 placeholder= "url">
  <input type="submit" value="Add Recipe">
</form> %>

<form action="/users/new" method="get">
<input type="submit" value="Sign Up">
</form>